%nav.navbar.navbar-inverse#cuc
  %div.container-fluid
    %div.navbar-header
      %a{ :href => "#", :class => "navbar-brand" } Logo
    %ul.nav.navbar-nav
      %li.active
        =link_to "Home", root_path
      %li 
        =link_to "Articulos", articles_index_path
      %li 
        =link_to "Nuevo", new_article_path
      %li 
        %a{ :href =>"#"} Page 3   